{
    "version": 3,
    "port": {{ .routing.port }},
    "extra_config": {{ marshal .routing.extra_config}},
    "endpoints": [
        {{- range $idx, $endpoint := .routing.group }}
        {{- if $idx}},{{end}}
        {
            "endpoint": "{{ $endpoint.target }}",
            "input_headers": [
                {{- range $idy, $header := $endpoint.input_headers }}
                {{- if $idy}},{{end}}
                "{{ $header }}"
                {{- end }}
            ],
            "backend": [
                {
                    "url_pattern": "{{ $endpoint.backend.url }}",
                    "host": [
                        {{- range $idy, $host := $endpoint.backend.hosts }}
                        {{- if $idy}},{{end}}
                        "{{ $host }}"
                        {{- end }}
                    ]
                }
            ],
            "extra_config": {{ marshal $endpoint.extra_config}}
        }
        {{- end }}
    ]
}
